<section class="about" id="about">
  <div class="container">

    <figure class="about-banner">
      <img src="./assets/images/about-banner-1.png" alt="Hausinnenraum">
      <img src="./assets/images/about-banner-2.jpg" alt="Hausinnenraum" class="abs-img">
    </figure>

    <div class="about-content">

      <p class="section-subtitle">Über uns</p>

      <h2 class="h2 section-title">Der führende Marktplatz für Immobilienvermietungen.</h2>

      <p class="about-text">
        Über 39.000 Menschen arbeiten für uns in mehr als 70 Ländern. Diese globale Präsenz
        wird durch unsere spezialisierten Dienstleistungen ergänzt.
      </p>

      <ul class="about-list">

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="home-outline"></ion-icon>
          </div>
          <p class="about-item-text">Intelligentes Wohn-Design</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="leaf-outline"></ion-icon>
          </div>
          <p class="about-item-text">Wunderschöne Umgebung</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="wine-outline"></ion-icon>
          </div>
          <p class="about-item-text">Außergewöhnlicher Lebensstil</p>
        </li>

        <li class="about-item">
          <div class="about-item-icon">
            <ion-icon name="shield-checkmark-outline"></ion-icon>
          </div>
          <p class="about-item-text">Umfassende 24/7-Sicherheit</p>
        </li>

      </ul>

      <p class="callout">
        „Wir arbeiten engagiert und transparent, damit Ihre Immobilienpläne Wirklichkeit werden.“
      </p>

      <a href="#service" class="btn">Unsere Leistungen</a>

    </div>

  </div>
</section>
