<section class="blog" id="blog">
  <div class="container">

    <p class="section-subtitle">Neuigkeiten &amp; Blogs</p>

    <h2 class="h2 section-title">Neueste Nachrichten</h2>

    <ul class="blog-list has-scrollbar">

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <img src="./assets/images/blog-1.png" alt="Das inspirierendste Interior-Design 2021" class="w-100">
          </figure>

          <div class="blog-content">

            <div class="blog-content-top">

              <ul class="card-meta-list">

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="person"></ion-icon>
                    <span>von: Admin</span>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="pricetags"></ion-icon>
                    <span>Innenbereich</span>
                  </a>
                </li>

              </ul>

              <h3 class="h3 blog-title">
                <a href="#">Das inspirierendste Interior-Design 2021</a>
              </h3>

            </div>

            <div class="blog-content-bottom">
              <div class="publish-date">
                <ion-icon name="calendar"></ion-icon>
                <time datetime="2022-27-04">Apr 27, 2022</time>
              </div>

              <a href="#" class="read-more-btn">Mehr erfahren</a>
            </div>

          </div>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <img src="./assets/images/blog-2.jpg" alt="Aktuelle gewerbliche Immobilientransaktionen" class="w-100">
          </figure>

          <div class="blog-content">

            <div class="blog-content-top">

              <ul class="card-meta-list">

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="person"></ion-icon>
                    <span>von: Admin</span>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="pricetags"></ion-icon>
                    <span>Immobilien</span>
                  </a>
                </li>

              </ul>

              <h3 class="h3 blog-title">
                <a href="#">Aktuelle gewerbliche Immobilientransaktionen</a>
              </h3>

            </div>

            <div class="blog-content-bottom">
              <div class="publish-date">
                <ion-icon name="calendar"></ion-icon>
                <time datetime="2022-27-04">Apr 27, 2022</time>
              </div>

              <a href="#" class="read-more-btn">Mehr erfahren</a>
            </div>

          </div>

        </div>
      </li>

      <li>
        <div class="blog-card">

          <figure class="card-banner">
            <img src="./assets/images/blog-3.jpg"
              alt="Wohnzimmer renovieren? Expertentipps" class="w-100">
          </figure>

          <div class="blog-content">

            <div class="blog-content-top">

              <ul class="card-meta-list">

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="person"></ion-icon>
                    <span>von: Admin</span>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-meta-link">
                    <ion-icon name="pricetags"></ion-icon>
                    <span>Wohnraum</span>
                  </a>
                </li>

              </ul>

              <h3 class="h3 blog-title">
                <a href="#">Wohnzimmer renovieren? Expertentipps</a>
              </h3>

            </div>

            <div class="blog-content-bottom">
              <div class="publish-date">
                <ion-icon name="calendar"></ion-icon>
                <time datetime="2022-27-04">Apr 27, 2022</time>
              </div>

              <a href="#" class="read-more-btn">Mehr erfahren</a>
            </div>

          </div>

        </div>
      </li>

    </ul>

  </div>
</section>
