<!-- 
  - #FOOTER
-->

<footer class="footer">

  <div class="footer-top">
    <div class="container">

      <div class="footer-brand">

        <a href="#" class="logo">
          <img src="./assets/images/logo-light.png" alt="Homeverse-Logo">
        </a>

        <p class="section-text">
          Lorem Ipsum ist ein reiner Platzhaltertext der Druck- und Satzindustrie. Lorem Ipsum ist Blindtext des Druckwesens.
        </p>

        <ul class="contact-list">

          <li>
            <a href="#" class="contact-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>Brooklyn, New York, Vereinigte Staaten</address>
            </a>
          </li>

          <li>
            <a href="tel:+0123456789" class="contact-link">
              <ion-icon name="call-outline"></ion-icon>

              <span>+0123-456789</span>
            </a>
          </li>

          <li>
            <a href="mailto:contact@homeverse.com" class="contact-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>contact@homeverse.com</span>
            </a>
          </li>

        </ul>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

      <div class="footer-link-box">

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Unternehmen</p>
          </li>

          <li>
            <a href="#" class="footer-link">Über uns</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="#" class="footer-link">Alle Produkte</a>
          </li>

          <li>
            <a href="#" class="footer-link">Standortkarte</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link">Kontakt</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Leistungen</p>
          </li>

          <li>
            <a href="#" class="footer-link">Bestellverfolgung</a>
          </li>

          <li>
            <a href="#" class="footer-link">Merkliste</a>
          </li>

          <li>
            <a href="#" class="footer-link">Anmelden</a>
          </li>

          <li>
            <a href="#" class="footer-link">Mein Konto</a>
          </li>

          <li>
            <a href="#" class="footer-link">Allgemeine Geschäftsbedingungen</a>
          </li>

          <li>
            <a href="#" class="footer-link">Werbeangebote</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Kundenservice</p>
          </li>

          <li>
            <a href="#" class="footer-link">Anmelden</a>
          </li>

          <li>
            <a href="#" class="footer-link">Mein Konto</a>
          </li>

          <li>
            <a href="#" class="footer-link">Merkliste</a>
          </li>

          <li>
            <a href="#" class="footer-link">Bestellverfolgung</a>
          </li>

          <li>
            <a href="#" class="footer-link">FAQ</a>
          </li>

          <li>
            <a href="#" class="footer-link">Kontakt</a>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">

      <p class="copyright">
        &copy; 2022 <a href="#">codewithsadee</a>. Alle Rechte vorbehalten
      </p>

    </div>
  </div>

</footer>
