<section class="hero" id="home">
  <div class="container">

    <div class="hero-content">

      <p class="hero-subtitle">
        <ion-icon name="home"></ion-icon>
        <span>Immobilienagentur</span>
      </p>

      <h2 class="h1 hero-title">Finden Sie Ihr Traumhaus mit uns</h2>

      <p class="hero-text">
        Wir begleiten Sie mit Expertise und Leidenschaft bei der Suche nach Ihrer idealen Immobilie.
      </p>

      <button class="btn">Anfrage stellen</button>

    </div>

    <figure class="hero-banner">
      <img src="./assets/images/hero-banner.png" alt="Modell eines modernen Hauses" class="w-100">
    </figure>

  </div>
</section>
