<main>
  <article>

    <!-- HERO -->
    <div data-include="./partials/hero.html"></div>

    <!-- ABOUT -->
    <div data-include="./partials/about.html"></div>

    <!-- SERVICE -->
    <div data-include="./partials/service.html"></div>

    <!-- PROPERTY -->
    <div data-include="./partials/property.html"></div>

    <!-- FEATURES -->
    <div data-include="./partials/features.html"></div>

    <!-- BLOG -->
    <div data-include="./partials/blog.html"></div>

    <!-- FAQ -->
    <div data-include="./partials/faq.html"></div>

    <!-- CTA -->
    <div data-include="./partials/cta.html"></div>

  </article>
</main>
