<section class="service" id="service">
  <div class="container">

    <p class="section-subtitle">Unsere Leistungen</p>

    <h2 class="h2 section-title">Unser Hauptfokus</h2>

    <ul class="service-list">

      <li>
        <div class="service-card">

          <div class="card-icon">
            <img src="./assets/images/service-1.png" alt="Service-Symbol">
          </div>

          <h3 class="h3 card-title">
            <a href="#">Haus kaufen</a>
          </h3>

          <p class="card-text">
            Über eine Million Häuser stehen auf der Website zum Verkauf; wir finden das Haus, das Sie Ihr Zuhause nennen möchten.
          </p>

          <a href="#" class="card-link">
            <span>Immobilie finden</span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </a>

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <img src="./assets/images/service-2.png" alt="Service-Symbol">
          </div>

          <h3 class="h3 card-title">
            <a href="#">Haus mieten</a>
          </h3>

          <p class="card-text">
            Über eine Million Häuser stehen auf der Website zum Verkauf; wir finden das Haus, das Sie Ihr Zuhause nennen möchten.
          </p>

          <a href="#" class="card-link">
            <span>Immobilie finden</span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </a>

        </div>
      </li>

      <li>
        <div class="service-card">

          <div class="card-icon">
            <img src="./assets/images/service-3.png" alt="Service-Symbol">
          </div>

          <h3 class="h3 card-title">
            <a href="#">Haus verkaufen</a>
          </h3>

          <p class="card-text">
            Über eine Million Häuser stehen auf der Website zum Verkauf; wir finden das Haus, das Sie Ihr Zuhause nennen möchten.
          </p>

          <a href="#" class="card-link">
            <span>Immobilie finden</span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </a>

        </div>
      </li>

    </ul>

  </div>
</section>
